#ignorer le répertoire virtuel
venv/

#ignorer les fichiers:

df_classification_binaire.csv
df_clean_imputed.csv

df_train_n.csv
df_train_i.csv
df_test_i.csv
df_test_n.csv

X_train_eval_n.csv
y_train_eval_n.csv
X_final_n.csv
y_final_n.csv
X_api_n.csv
y_api_n.csv

data_drift/application_test.csv
data_drift/application_train.csv

mon_notebook_models.ipynb
api/application_test.csv

feature_importances_t.csv


dfs_n/
dfs_i/
resultats_s/
api/df_nouveaux_clients.csv

mlruns_s/
mlruns/222825564907058682/
mlruns/924437942504982057/

projet7_prd/backend/df_nouveaux_clients.csv
